<%- include('../partials/header') %>
    <table>
        <thead>
            <tr>
                <th>Game Title</th>
                <th>Game Genre</th>
                <th>Last Patch Date</th>
                <th>Total Entries</th>
            </tr>
        </thead>
        <tbody>
            <!-- Write the line of EJS to iterate over movies using forEach -->

            <!-- How does this know what I'm talking about as far as flights? Where do things in squids get their information from? -->
            <% games.forEach(function(g) { %>
            <tr>
                <td>
                    <%= g.title %>
                </td>
                <td>
                    <%= g.gameType %>
                </td>
                <td>
                    <%= g.lastPatchDate.toLocaleDateString() %>
                </td>
                <td>
                    <%= g.totalEntries %>
                </td>
                <td>
                    <a href="/games/<%= g._id %>">DETAILS</a>
                </td>
            </tr>
            <!-- Close the forEach using EJS here -->
            <% }) %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>