<%- include('../partials/header') %>

    <section id="show-page">
        <div>title: </div>
        <div>
            <%= game.title %>
        </div>
        <div>genre: </div>
        <div>
            <%= game.gameType %>
        </div>
        <div>total Entries: </div>
        <div>
            <%= game.totalEntries %>
        </div>
        <div>last patch date: </div>
        <div>
            <%= game.lastPatchDate.toLocaleDateString() %>
        </div>
    </section>

    <br><br>
    <h2>entities</h2>

    <% if (game.entities.length) { %>
        <table>
            <thead>
                <tr>
                    <th>name </th>
                    <td>|</td>
                    <th>description </th>
                    <td>|</td>
                    <th>last balanced date </th>
                </tr>
            </thead>
            <tbody>
                <% game.entities.forEach(function(e) { %>
                    <tr>
                        <td>
                            <%= e.name %>
                        </td>
                        <td>|</td>
                        <td>
                            <%= e.entityDescription %>
                        </td>
                        <td>|</td>
                        <td>
                            <%= e.lastBalancedDate.toLocaleDateString() %>
                        </td>
                        <td>
                            <a href="/entities/<%= e._id %>">details</a>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Characters or Items Added Yet</h5>
            <% } %>
                <br><br>
                <h3>add new: </h3>
                <form id="add-review-form" method="POST" action="/games/<%= game._id %>/entities">
                    <label>Name:
                        <input id="wtb" type="text" name="name">
                    </label><br>
                    <label>last balance update:
                        <input id="wtb" type="date" name="lastBalancedDate">
                    </label><br>
                    <label>description:
                        <input id="wtb" type="text" name="entityDescription">
                    </label><br>
                    <button id="wtb" type="submit">add to list</button>
                </form>
                <%- include('../partials/footer') %>