<%- include('../partials/header') %>

    <section id="show-page">
        <div>Title: </div>
        <div>
            <%= game.title %>
        </div>
        <div>Genre: </div>
        <div>
            <%= game.gameType %>
        </div>
        <div>Total Entries: </div>
        <div>
            <%= game.totalEntries %>
        </div>
        <div>Last Patch Date: </div>
        <div>
            <%= game.lastPatchDate.toLocaleDateString() %>
        </div>
    </section>

    <br><br>
    <h2>Characters and Items</h2>

    <% if (game.entities.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Name: </th>
                    <th>Description: </th>
                    <th>Last Balanced Date: </th>
                </tr>
            </thead>
            <tbody>
                <% game.entities.forEach(function(e) { %>
                    <tr>
                        <td>
                            <%= e.name %>
                        </td>
                        <td>
                            <%= e.entityDescription %>
                        </td>
                        <td>
                            <%= e.lastBalancedDate %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Characters or Items Added Yet</h5>
            <% } %>
                <br><br>
                <h3>Add New: </h3>
                <form id="add-review-form" method="POST" action="/games/<%= game._id %>/entities">
                    <label>Name:
                        <input type="text" name="name">
                    </label><br>
                    <label>Last Balance Update:
                        <input type="date" name="lastBalancedDate">
                    </label><br>
                    <label>Description: 
                        <input type="text" name="entityDescription">
                    </label><br>
                    <button type="submit">Add to List</button>
                </form>

                <%- include('../partials/footer') %>